.env

desafio_backend/target/

# mongodb storage
data
data/
data/*


# Terraform 

.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform
.terraform/
.terraform/*

.vscode/
.idea/